/*header
{
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    z-index: 9;
}
.sidebar-main
{
    height: calc(100vh - 64px);
    overflow: auto;
    position: fixed;
	top: 64px;
	left: 0;
    width: 320px;
    z-index: 9;
}
#mainContainer
{
	margin-left: 320px;
}*/



.right-panel-header
{
	width: 100%;
}

.dash-one-filter
{
	display: flex;
	margin-top: 15px;
}
.first-filter,
.second-filter
{
	display: flex;
	align-items: center;
	 flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    margin-right: 35px;
}
.first-filter p,
.second-filter p
{
	font-size: 16px;
}
.first-filter label,
.second-filter label
{
	margin-bottom: 0;
	margin-right: 10px;
	background: #d3dddc;
    padding: 6px 15px;
    border-radius: 4px;
}




.unit-level-box
{
	background: #fff;
	box-shadow: 0 0 8px #676767;
	border-radius: 15px;
	margin-top: 15px;
	padding: 15px;
}
.unit-level-box .title-unit-level
{
	color: #02c4ac;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 0px 1px 2px rgb(0 0 0);
}

.multiple-circle
{
	display: flex;
	flex-wrap: wrap;
}
.clearfix
 {
 	-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
 }
.c100 .slice
 {
 	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
 }
.c100 > span
{
	line-height: inherit;
	font-size: 36px;
    font-weight: 700;
    color: #02c4ac;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 20px;
}
.c100 >  span.secondspan
{
	color: #000;
    font-size: 20px;
    display: block;
    top: 60px;
    font-weight: 400;
}
.c100:hover > span
{
	top: 20px;
	line-height: inherit;
	color: #02c4ac;
}
.c100:hover >  span.secondspan
{
	 top: 60px;
	line-height: inherit;
	width: 100%;
	color: #000;
}
.slice .bar,
.slice .fill
{
	border: 0.08em solid #02c4ac !important;
}
.title-circle
{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0;
}












.unit-wise-box
{
	background: #d3dddc;
	box-shadow: 0 0 8px #676767;
	border-radius: 15px;
	margin-top: 30px;
	padding: 15px;
}
.unit-wise-box .title-unit-wise
{
	color: #4d4f4e;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}
.unit-wise-box .title-unit-wise label
{
	margin-bottom: 0;
	margin-right: 10px;
	background: #fff;
    padding: 6px 15px;
    border-radius: 4px; 
    font-weight: normal;
    min-width: 300px;
}
.unit-wise-box .c100:after
{
	background-color: #d3dddc;
}
.unit-wise-box .slice .bar, 
.unit-wise-box .slice .fill {
    border: 0.08em solid #5e5a59 !important;
}
.unit-wise-box .c100 > span
{
	color: #5e5a59;
}


.unit-level-box .multiple-circle .c100
{
	transform: scale(1.2);
}
.unit-level-box .title-unit-level
{
	margin-bottom: 35px;
}
.unit-level-box .title-circle
{
	margin-top: 35px;
}
@media(min-width: 1365px)
{
	.unit-level-box .multiple-circle .c100
	{
		transform: scale(1.3);
	}
}
@media(max-width: 1200px)
{
	.unit-level-box .multiple-circle .c100
	{
		transform: scale(1);
	}
	.unit-level-box .title-unit-level
	{
		margin-bottom: 15px;
	}
	.unit-level-box .title-circle
	{
		margin-top: 15px;
	}
}