/*header
{
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    z-index: 9;
}
.sidebar-main
{
    height: calc(100vh - 64px);
    overflow: auto;
    position: fixed;
	top: 64px;
	left: 0;
    width: 320px;
    z-index: 9;
}
#mainContainer
{
	margin-left: 320px;
}*/



.right-panel-header
{
	width: 100%;
}

.dash-one-filter
{
	display: flex;
	margin-top: 15px;
}
.first-filter,
.second-filter
{
	display: flex;
	align-items: center;
	 flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    margin-right: 35px;
}
.first-filter p,
.second-filter p
{
	font-size: 16px;
}

.first-filter p,
.second-filter p2
{
	font-size: 10px;
}

.first-filter label,
.second-filter label
{
	margin-bottom: 0;
	margin-right: 10px;
	background: #d3dddc;
    padding: 6px 15px;
    border-radius: 4px;
}




.unit-level-box
{
	background: #fff;
	box-shadow: 0 0 8px #676767;
	border-radius: 15px;
	margin-top: 15px;
	padding: 15px;
}
.unit-level-box .title-unit-level
{
	color: #02c4ac;
	font-weight: bold;
	font-size: 30px;
	text-shadow: 0px 1px 2px rgb(0 0 0);
}

.multiple-circle
{
	display: flex;
	flex-wrap: wrap;
}
.clearfix
 {
 	-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
 }
.c100 .slice
 {
 	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
 }
.c100 > span
{
	line-height: inherit;
	font-size: 36px;
    font-weight: 700;
    color: #02c4ac;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 20px;
}
.c100 >  span.secondspan
{
	color: #000;
    font-size: 20px;
    display: block;
    top: 60px;
    font-weight: 400;
}
.c100:hover > span
{
	top: 20px;
	line-height: inherit;
	color: #02c4ac;
}
.c100:hover >  span.secondspan
{
	 top: 60px;
	line-height: inherit;
	width: 100%;
	color: #000;
}
.slice .bar,
.slice .fill
{
	
	border-color: #02c4ac !important;
}
.title-circle
{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0;
}












.unit-wise-box
{
	background: #d3dddc;
	box-shadow: 0 0 8px #676767;
	border-radius: 15px;
	margin-top: 30px;
	padding: 15px;
}
.unit-wise-box .title-unit-wise
{
	color: #4d4f4e;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}
.unit-wise-box .title-unit-wise label
{
	margin-bottom: 0;
	margin-right: 10px;
	background: #fff;
    padding: 6px 15px;
    border-radius: 4px; 
    font-weight: normal;
    min-width: 300px;
}
.unit-wise-box .c100:after
{
	background-color: #d3dddc;
}
.unit-wise-box .slice .bar, 
.unit-wise-box .slice .fill {
    border: 0.08em solid #5e5a59 !important;
}
.unit-wise-box .c100 > span
{
	color: #5e5a59;
}


.unit-level-box .multiple-circle .c100
{
	transform: scale(1.2);
}
.unit-level-box .title-unit-level
{
	margin-bottom: 35px;
}
.unit-level-box .title-circle
{
	margin-top: 35px;
}
@media(min-width: 1365px)
{
	.unit-level-box .multiple-circle .c100
	{
		transform: scale(1.3);
	}
}
@media(max-width: 1200px)
{
	.unit-level-box .multiple-circle .c100
	{
		transform: scale(1);
	}
	.unit-level-box .title-unit-level
	{
		margin-bottom: 15px;
	}
	.unit-level-box .title-circle
	{
		margin-top: 15px;
	}
}
@media(max-width: 992px) and (min-width: 768px)
{
	.title-circle
	{
		margin-bottom: 30px;
	}
	.dash-one-filter {
	    flex-wrap: wrap;
	    padding: 15px;
	}
}
@media(max-width: 767px)
{
	.dash-one-filter
	{
		flex-wrap: wrap;
		padding: 15px;
	}
	.unit-level-box,
	.unit-wise-box
	{
		margin: 15px;
	}
	.unit-wise-box .title-unit-wise label
	{
		min-width: 200px;
	}
	.unit-wise-box .title-unit-wise,
	.unit-level-box .title-unit-level,
	.dash-one-filter
	{
		text-align: center;
	}
	.first-filter, .second-filter
	{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.first-filter p, .second-filter p
	{
		width: 100%;
		font-size: 14px;
	}
	.title-circle
	{
		margin-bottom: 30px;
	}
}








/*dashboard 2*/

.title-project-wise
{
	color: #02c4ac;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    text-shadow: 0px 1px 2px rgb(0 0 0);
}
.title-project-wise label
{
	margin-bottom: 0;
	margin-left: 30px;
	background: #02c4ac;
    padding: 6px 15px;
    border-radius: 4px; 
    font-weight: normal;
    min-width: 300px;
    color: #000;
    text-shadow: none;
    font-size: 24px;
}

g.highcharts-exporting-group,
text.highcharts-credits
{
	display: none;
}
.highcharts-figure svg
{
	outline: none;
}


@media(max-width: 767px)
{
	.title-project-wise
	{
		padding: 15px;
		text-align: center;
	}
	.title-project-wise label
	{
		min-width: 250px;
	}
}
















/*EDM page css*/
.main-category-select
{
	background: #14d2b9;
	padding: 15px 0;
}
.main-category-select select
{
	background: transparent;
	color: #000;
	border-color:#fff;
	padding: 15px;
	margin-right: 20px;
	-webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    padding-right: 45px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
  	background-position-x: 93%;
  	background-position-y: 15px;
}
.selectmaindiv:first-child
{
	margin-left: 20px;
}
.selectmaindiv
{
	display: inline-block;
	position: relative;
}
.selectmaindiv:after
{
	content: '';

}





.rdmpageform
{
	padding: 30px;
	padding-left: 420px;
}
.rmdbox
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.rdmtitle
{
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.rdmtitle p
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: bold;
	padding-right: 150px;
}
.rdmtitle button
{
	background: #14d2b9;
	color: #000;
	border-radius: 30px;
	border: none;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: 500;
	position: absolute;
	right: 0;
	top: 5px;
	outline: none;
	box-shadow: none;
}
.singlebox
{
	padding: 15px;
	background: #14d2b9;
	-ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    margin-right: 15px;
    margin-bottom: 15px;
}
.singlebox .titlebox
{
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.singlebox.disabled
{
	background: #c4f3ed;
	color: #a4cbc6;
}
.singlebox.disabled .titlebox
{
	color: #d3f5f4;
}


.valuerecord .titlerecord,
.exampleactivities .titlerecord
{
	font-weight: bold;
}

.exampleworkproducts
{
	margin-top: 40px;
	
}
.titleallpart
{
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
}
.titleallpart p:first-child
{
	-ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.titleallpart p:nth-child(2)
{
	-ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.titleallpart p:last-child
{
	-ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
}
.exampleproductsrecord
{
	overflow: auto;
	height: 160px;
	padding-right: 30px;
}
.exampleproductsrecord .singlerecord 
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.singlerecord .first-part
{
	-ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.singlerecord .second-part
{
	-ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
}
.singlerecord .third-part
{
	-ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.singlerecord .first-part p
{
	display: inline-block;
	margin-bottom: 0;
	padding-left: 30px;
	position: relative;
}
.singlerecord .first-part p:after
{
	content: '';
	width: 15px;
	height: 15px;
	background: #14d2b9;
	position: absolute;
	left: 0;
	top: 4px;
	border-radius: 40px;
}
.radiooptiongroup
{
	padding-right: 30px;
}
.singlerecord .second-part select
{
	width: 100%;
	height: 40px;
	padding: 0 15px;
	-webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    padding-right: 30px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
  	background-position-x: 95%;
  	background-position-y: 7px;
  	border: 2px solid #959595;
}
.singlerecord .third-part input
{
	width: 100%;
	height: 40px;
	padding: 0 15px;
	border: 2px solid #959595;
}

.currentpracticediv
{
	display: flex;
	flex-wrap: wrap;
}
.currentpracticediv .titlecurrentparactice
{
	margin-top: 40px;
	font-weight: bold;
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.textareavalue
{
	-ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    display: flex;
    padding-right: 15px;
}
.textareavalue textarea
{
	width: 100%;
	resize: none;
	height: 130px;
	padding: 15px;
	border: 2px solid #959595;
}
.complianceselect
{
	-ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
	border: 2px solid #959595;
}
.complianceselect .titlecompliance
{
	background: #14d2b9;
	padding: 15px;
	margin-bottom: 0;
	text-align: center;
	font-weight: bold;
}
.complianceselect .titlecompliance p
{
	margin-bottom: 0;
}
.selectcompliance
{
	background: #d7cd2d;
	height: calc(100% - 54px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.selectcompliance select
{
	background: transparent;
	-webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    outline: none;
    box-shadow: none;
    text-align-last:center;
}


.gapnotesdiv p
{
	font-weight: bold;
	padding-top: 30px;
}
.gapnotesdiv textarea
{
	width: 100%;
	resize: none;
	height: 130px;
	padding: 15px;
	border: 2px solid #959595;
}


.formsubmitbtn
{
	text-align: right;
}
.formsubmitbtn button
{
	background: #14d2b9;
	color: #000;
	border-radius: 30px;
	border: none;
	padding: 10px 30px;
	font-size: 16px;
	font-weight: 500;
	outline: none;
	box-shadow: none;
	margin-top: 15px;
}







@media(max-width: 991px) and (min-width: 768px)
{
	.main-category-select,
	.rdmpageform
	{
		padding-left: 370px;
		padding-right: 10px;
	}
	.selectmaindiv:first-child
	{
		margin-left: 0;
	}
	.selectmaindiv
	{
		margin-bottom: 10px;
	}
	.singlebox
	{
		-ms-flex: 0 0 48%;
	    flex: 0 0 48%;
	    max-width: 48%;
	}
	.singlebox:nth-child(odd)
	{
		margin-right: 0;
	}
	.exampleworkproducts
	{
		width: 100%;
		overflow: auto;
	}
	.maindivexamplework
	{
		width: 900px;
	}
	.textareavalue
	{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin-bottom: 15px;
	    padding-right: 0;
	}
	.complianceselect {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    height: 150px;
	}
	.selectcompliance select
	{
		padding: 15px;
	}
}

@media(max-width: 767px)
{
	.main-category-select
	{
		padding: 15px;
	}
	.selectmaindiv
	{
		margin-bottom: 10px;
	}
	.selectmaindiv select
	{
		margin-right: 0px;
	}
	.selectmaindiv:first-child
	{
		margin-left: 0;
	}
	.rdmpageform
	{
		padding: 15px;
	}
	.rdmtitle p
	{
		padding-right: 0px;
		margin-top: 55px;
	}
	.singlebox
	{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.exampleworkproducts
	{
		width: 100%;
		overflow: auto;
	}
	.maindivexamplework
	{
		width: 900px;
	}
	.currentpracticediv .textareavalue
	{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    padding-right: 0;
	    margin-bottom: 15px;
	}
	.complianceselect {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    height: 150px;
	}
}


















/* RDM 2.3 */
.rmdlevelpage
{
	padding-left: 390px;
}
.main-category-home
{
	background: #14d2b9;
	padding: 15px 0;
}
.main-category-home p
{
	display: inline-block;
	margin-bottom: 0;
	margin-left: 30px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-right: 15px;
}
.main-category-home select
{
	background: transparent;
	color: #fff;
	background: #14a190;
	padding: 10px 30px;
	margin-right: 20px;
	-webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    outline: none;
    border-radius: 15px;
    border: none;
}
.breadcrumb-div
{
	
	display: block;
	position: relative;
}
.breadcrumb-div .breadcrumb
{
	float: unset;
	width: 100%;
	padding: 15px;
	padding-right: 150px;
}
.breadcrumb-div button
{
	background: #f33561;
	padding: 5px 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 30px;
	position: absolute;
	    top: 9px;
    right: 15px;
}



.levelrdm
{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
}

.levelrdm2
{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: left;
}
.levelrdm:after
{
	content: '';
	background-color: #36b9cc;
    padding: 25px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 8;
}
.levelrdm2:after
{
	content: '';
	padding: 25px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 8;
}
.single-mainlevel
{
	background: #fff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 19%);
	-ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    border-radius: 8px;
    padding: 1.25rem;
    z-index: 9;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 170px;
    position: relative;
}

.single-mainlevel.disabled
{
	background: #F5F5F5;
	
}
.single-mainlevel.disabled .titlebox
{
	color: #d3f5f4;
}

.single-mainlevel:hover {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 35%);
  border-left: 0.25rem solid #36b9cc;
  border-bottom: 0.25rem solid #36b9cc !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.single-mainlevel .titlelevel
{
	font-size: 24px;
	color: #0d9e8d;
	font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 35%);
    position: relative;
    bottom: unset;
    width: 100%;
}
.single-mainlevel p
{
	margin-bottom: 0;
	position: absolute;
	width: 80%;
	bottom: 15px;
}


.next-btn
{
	width: 100%;
	text-align: right;
	margin-top: 50px;
}
.next-btn button
{
	background: #f33561;
	padding: 5px 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 30px;
	margin-right: 15px;
}



@media(max-width: 1199px) and (min-width: 992px)
{
	.rmdlevelpage {
	    padding-left: 360px;
	}
}
@media(max-width: 991px) and (min-width: 768px)
{
	.rmdlevelpage {
	    padding-left: 360px;
	}
	.single-mainlevel
	{
		-ms-flex: 0 0 45%;
	    flex: 0 0 45%;
	    max-width: 45%;
	    margin-bottom: 15px;
	}
	.single-mainlevel:nth-child(even)
	{
		margin-right: 0;
	}
}
@media(max-width: 767px)
{
	.rmdlevelpage
	{
		padding-left: 0;
	}
	.single-mainlevel
	{
		-ms-flex: 0 0 80%;
	    flex: 0 0 80%;
	    max-width: 80%;
	    margin-right: 0;
	    margin-bottom: 15px;
	}
}









/* sublevel */
.leveltwo .levelrdm
{
	padding-left: 90px;
	justify-content: left !important;
}
.sublevel
{
	width: 100%;
    padding-left: 205px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -84px;
}
.sublevel:after
{
	content: '';
	background-color: #0D9E8D;
    padding: 25px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 8;
}
.sublevel .single-mainlevel
{
	-ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 15px;

}


@media(max-width: 1199px) and (min-width: 992px)
{
	.leveltwo .single-mainlevel
	{
		-ms-flex: 0 0 30%;
	    flex: 0 0 30%;
	    max-width: 175px;
	}
	.leveltwo .sublevel .single-mainlevel {
	    -ms-flex: 0 0 45%;
	    flex: 0 0 45%;
	    max-width: 45%;
	}
	.next-btn
	{
		margin-top: 0;
	}
}
@media(max-width: 991px) and (min-width: 768px)
{
	.leveltwo .levelrdm
	{
		padding-left: 15px;
	}
	.sublevel
	{
		top: 0;
    	padding-left: 60px;
	}
	.sublevel:after
	{
		display: none;
	}
	.sublevel .single-mainlevel {
	    -ms-flex: 0 0 80%;
	    flex: 0 0 80%;
	    max-width: 80%;
	    margin-bottom: 15px;
	}
	.next-btn
	{
		margin-bottom: 30px;
		margin-top: 0;
	}
}
@media(max-width: 767px)
{
	.leveltwo .levelrdm
	{
		padding-left: 15px;
	}
	.sublevel
	{
		top: 0;
    	padding-left: 60px;
	}
	.sublevel:after
	{
		display: none;
	}
	.sublevel .single-mainlevel {
	    -ms-flex: 0 0 80%;
	    flex: 0 0 80%;
	    max-width: 80%;
	    margin-bottom: 15px;
	}
	.next-btn
	{
		margin-bottom: 30px;
		margin-top: 0;
	}
}