@media only screen and (max-width: 1199px) {
	#sidebar{margin-left: 50px;}

	/*doing css*/
	.doing-box .card-text{font-size: 19px;}
	.rdm-wrapper .doing-box {float: none;}

	.ensuring-main .breadcrumb {width: 55%;}
}
@media only screen and (max-width: 1024px) {

	/*ensuring css*/
	.ensuring-main .breadcrumb {width: 54%;}
	
}
@media only screen and (max-width: 991px) {

	.doing-box {margin-bottom: 25px;}

	/*ensuring css*/
	.ensuring-main .breadcrumb{width: 42%;}
	.ensuring-main .doing-box{margin-bottom: 25px;}

	.rdm-text .rdm-inr-cntnt {width: 100%;}

	.ensuring-main .breadcrumb {padding: 4px 8px;}
	.rdm-box.bg-color{background-color: transparent;}
	.rdm-box .card{min-height: 168px;}

	.rdm-level-maincntnt{width: 50%;}
	
}

@media only screen and (max-width: 767px) {
	#sidebar {margin-left: -310px;}
	#sidebar.active {margin-left: 16px;}
	#sidebarCollapse span {display: none;}
	#content .btn-info {display: block;}
	#sidebar .sidebar-header h3{font-size: 20px;}
	#content .btn-info {width: 40px;position: absolute;z-index: 99;right: 10px;top:-65%;}
	.right-panel-header{width: 100%;}

	.rdm-main .breadcrumb{width: 80%;}

	.rdm-level-maincntnt{width: 100%;}
	.rdm-level-maincntnt .value {margin-top: 100px;}
	.rdm-level-2-main .side-circle{top: 110%;}
	.rdm-level-2-main .circle-rgt h6{top: 138%;}

}
@media only screen and (max-width: 639px) {
	#sidebar {
		margin-left: -360px;
	}

	/*ensuring css*/
	.ensuring-main .breadcrumb{width: 75%;}
}
@media only screen and (max-width: 479px) {
	#sidebar i {display: block;}
	.side-bar-menu i {position: absolute;top: 15px;right: 24px;cursor: pointer;}
	#sidebar.active {
		margin-left: 20px;
	}

	/*doing css*/
	.doing-box{width: 47%;}

	.ensuring-main.rdm-main .breadcrumb{width: 100%;}
	.rdm-level-2-main .side-circle{top: 127%; }
	.rdm-level-2-main .circle-rgt h6{top: 154%;}



}
@media only screen and (max-width: 360px) {
	#sidebar {margin-left: -350px;}
	
	#sidebar ul li a {padding: 6px 1px 6px 0;}

	/*ensuring css*/
	.ensuring-main .breadcrumb{width: 72%;}

}