/*common css*/
a:hover {
	text-decoration: none;
	transition: 0.8s all ease;
}


body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url(../image/bg-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.sign-up-form .form-control:focus {
	outline: 0;
	box-shadow: none;
}
.form-inner .form-control {
	font-weight: 300;
	background-color: #14D2B9;
	color: #000000;
	border: none;
	border-radius: 10px;
}
.btn-info {
	background-color: #00727C;
	border-color: #00727C;
	padding: 6px 30px;
} 
#login .container #login-row #login-column #login-box {
	margin-top: 120px;
}
#login {
	position: relative;
}
#login .gap {
	position: absolute;
	bottom: 0;	
}
#login .gap h3 {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 30px;
}

.sign-up-form {
	border-radius: 10px;
	box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.45);
}
.sign-up-title h3{
	color: #000000;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 35px;
	margin-bottom: 30px;
}
.sign-up-form .form-control {
	background-color: #ffffff;
	border-bottom:2px solid #14D2B9;
	border-radius: 0;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
}
.sign-up-form .form-group label {
	text-transform: uppercase;
	margin-bottom: 0;
	color: #000000;
	font-size: 16px;
}