* {box-sizing: border-box;}


/*common css*/
a:focus, a:hover {
	outline: 0;
	text-decoration: none;
}

html {
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.bg-1{background-color: #D3DDDC;}
.bg-2{background-color: #02C4AC;}

/*form css start*/

.form-title {
	background-color: #d3d4cb;
	padding-top: 100px;
	padding-left: 25px;
	padding-bottom: 25px;
}
.form-inner {
	padding: 55px 50px 150px 32px;
}
#login {
	height: 100vh;
	background-image: url(../image/back-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#login #login-box  a.active {
	color: #00727D;
	font-weight: 600;
	font-size: 25px;
	text-transform: capitalize;
}
#login #login-box  a {
	color: #000000;
	font-weight: 600;
	font-size: 25px;
	text-transform: capitalize;
}
#login #login-box a.text-info {
	color: #000000;
	font-weight: 300;
	font-size: 16px;
	text-transform: capitalize;
}
.form-inner .form-control {
	font-weight: 300;
	background-color: #14D2B9;
	color: #000000;
	border: none;
	border-radius: 10px;
}
.btn-info {
	background-color: #00727C;
	border-color: #00727C;
	padding: 6px 30px;
} 
#login .container #login-row #login-column #login-box {
	margin-top: 120px;
}
#login .container #login-row #login-column #login-box #login-form {
	/*padding: 20px;*/
	box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.45);
}
#login .gap {
	position: absolute;
	bottom: 0;
	
}
#login .gap h3 {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 30px;
}

/*login css end*/

/*sign up css start*/

.sign-up-form {
	border-radius: 10px;
	box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.45);
}
.sign-up-title h3{
	color: #000000;
	text-transform: capitalize;
	font-weight: 500;
	font-size: 35px;
	margin-bottom: 30px;
}
.sign-up-form .form-control {
	background-color: #ffffff;
	border-bottom:2px solid #14D2B9;
	border-radius: 0;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
}
.sign-up-form .form-group label {
	text-transform: uppercase;
	margin-bottom: 0;
	color: #000000;
	font-size: 16px;
}

/*sign up css end*/

/*header css start*/
header {
	background-color: #1E1C1D;
}
header h2 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}
.logo {
	display: block;
	float: left;
}
/*header css end*/

/*sidebar css start*/
.sidebar-main {
	float: left;
}
#sidebar li span {
	display: block;
}
.side-bar-menu {
	width: 100%;
	float: left;
}
#sidebar {
	background: #D3DDDC;
	color: #1E1C1D;
	transition: all 0.3s;
	position: relative;
	margin-left: 80px;
}
#sidebar:before {
	position: absolute;
	content: " ";
	width: 500%;
	height: 100%;
	top: 0;
	left: -500%;
	background-color: #D3DDDC;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	text-transform: uppercase;
}
#sidebar .sidebar-header h3 {
	font-size: 25px;
}

#sidebar ul.components {
	padding-bottom:10%;
}
#sidebar ul li a {
	font-size: 16px;
	display: block;
	color: #1E1C1D;
	padding: 12px 10px 12px 0;
	position: relative;
}
#sidebar ul li a:hover {
	color: #1E1C1D;
	background: #97CEC8;
}
#sidebar ul li a:before{
	position: absolute;
	content: " ";
	width: 100%;
	height:100%;
	top: 0;
	left: -100%;
	background-color: #97CEC8;
	transition: 0.8s all ease;
	display: none;
}
#sidebar ul li a:hover:before, #sidebar ul li a:hover:after {
	display: block;
	transition: 0.8s all ease;
}

#sidebar ul li a:after {
	position: absolute;
	content: " ";
	background-color: #F11B4E;
	top: 22%;
	left: -3%;
	width: 4px;
	height: 37px;
	display: none;
}
#sidebar i {display: none;}
/*sidebar css end*/

/*right panel css start*/
#content .btn-info {
	display: none;
	background-color: #02C4AC;
	border-color: #02C4AC;
	border-radius: 0;
}
#content .btn-info:focus {
	box-shadow: none;
}
#content .navbar {
	padding: 0;
}
.right-panel-header {
	position: relative;
}
.right-panel-header:after {
	position: absolute;
	content: " ";
	top: 0;
	right: -499%;
	width: 500%;
	height: 100%;
	background-color: #02C4AC;
}
.panel-title {
	display: flex;
}
.panel-title h3 {
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 15px;
}
.panel-title .btn-secondary {
	background-color: transparent;
	border: 2px solid #F11B4E;
	border-radius: 10px;
	color: #000000;
	text-transform: capitalize;
	margin-top: -8px;
}
.panel-title .btn-secondary:focus {
	outline: 0;
	box-shadow: none;
}
.panel-title .btn-secondary:not(:disabled):not(.disabled):active,
.panel-title .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	background-color: transparent;
	border: none;
	color: #000000;
}
.panel-title .btn-secondary:not(:disabled):not(.disabled):active:focus,
.panel-title .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
	border: 2px solid #F11B4E;
}
.panel-title .dropdown-menu {
	border: none;
	background-color: transparent;
	border-radius: 0;
}
.panel-title .dropdown-menu .dropdown-item {
	background-color: #BEC7C6;
	border-radius: 12px;
	margin-bottom: 4px;
	padding: 7px 15px;
}

/*right panel css end*/

/*Doing css start*/
header button.btn-danger {
	float: right;
}

.doing .btn-secondary {
	border: none;
	background-color: #14A190;
	color: #fff;
	padding: 7px 40px;
}
.doing .dropdown-toggle::after {
	border: none;
}
.doing-main .breadcrumb {
	background-color: transparent;
}
.doing-main .breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	color: #515556;
	content: ">";
}
.doing-main .breadcrumb li a {
	color: #515556;
}
.doing-main .breadcrumb li a:hover {
	color: #000;
}
.doing-main .breadcrumb li.active {
	color: #515556;
}
.doing-categry-main .bg-color {
	background-color: #0D9E8D;
	padding: 25px;
	margin-top: 50px;
}
.doing-box a {
	display: block;
}
.doing-box-main {
	margin-top: -70px;
}
.doing-box {
	float: left;
}
.doing-box .card {
	min-height: 177px;
	position: relative;
	border: none;
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	border-radius: 8px;
}

.doing-box .card-text {
	position: absolute;
	bottom: 15px;
	color: #515556;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 400;
	padding-right: 16px;
}
.doing-box .card-title {
	color: #0D9E8D;
	font-size: 24px;
	font-weight: 800;
}
.doing-box .card:hover .card-title {
	color: #F11B4E;
}

/*Doing css end*/

/*ensuring css start*/
.ensuring-main .breadcrumb  {
	width: 62%;
	float: left;
}
.ensuring-main .btn-danger {
	margin-top: 10px;
	padding: 2px 23px;
	border-radius: 10px;
}

/*ensuring css end*/

/*rdm css start*/
.rdm-main-cntnt .rdm-text {
	width: 100%;
	float: left;
	padding: 25px 0;
}
.rdm-main-cntnt .rdm-text h2 {
	margin-bottom: 25px;
}
.rdm-main-cntnt .para-title {
	text-transform: capitalize;
	color: #0D9E8D;
	font-size: 20px;
	font-weight: 400;
}

.rdm-main-cntnt .para-text {
	text-transform: capitalize;
	color: #0f0f0f;
	font-size: 20px;
	font-weight: 400;
}  
.rdm-text .rdm-inr-cntnt {
	width: 47%;
	float: left;
	margin-right: 15px;
	margin-bottom: 35px;
}
.rdm-text .rdm-inr-cntnt p {
	text-align: justify;
}
.rdm-inr-cntnt.full-cntnt {
	width: 100%;
}
.rdm-text-area .next {
	float: right;
}

/*rdm css end*/

/*rdm level 2 css start*/
.doing-box-main .media {
	float: left;
	padding: 5px;
}
.rdm-box.bg-color {
	position: relative;
	top: 12%;
	left: 23.2%;
}
.rdm-box .card-body {
	padding: 10px 10px;
}
.rdm-box .card-title {
	color: #0D9E8D;
	font-size: 24px;
	font-weight: 800;
}
.rdm-box .card-body .card-text {
	color: #515556;
	font-size: 14px;
	font-weight: 400;
}
.rdm-box .card {
	min-height: 228px;
	position: relative;
	border: none;
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
	border-radius: 8px;
	margin-bottom: 10px;
}
/*.btn-danger {
	float: right;
	}*/

	/*rdm level 2 css end*/

	/*rdm level 2.1 css start*/

	.rdm-level-2 .card {
		min-height: 170px;
	}
	.rdm-level-maincntnt {
		width: 69%;
		margin-left: 13px;
	}
	.media-body a {
		display: block;
	}
	.media-body .card:hover {
		background-color: #02C4AC;
		transition: 0.8s all ease;
	}
	.media-body .card:hover .card-title {
		color: #dc3545;
	}
	..rdm-level-2-main .circle-rgt {
		position: relative;
	}
	.rdm-level-2-main .side-circle {
		width: 135px;
		height: 135px;
		border: 3px solid #14A190;
		float: right;
		border-radius: 100%;
		position: absolute;
		right: 10%;
		top: 47%;
	}
	.rdm-level-2-main .circle-rgt h6 {
		position: absolute;
		right: 9%;
		top: 69%;
	}
	.rdm-level-2-main .rdm-level-maincntnt .comn-title {
		text-transform: capitalize;
		font-size: 20px;
		font-weight: 400;
		color: #14A190;
	}
	.rdm-level-2-main .rdm-level-maincntnt .comn-para {
		color: #515556;
		font-size: 17px;
		font-weight: 400;
	}
	.rdm-level-2-main .rdm-level-maincntnt ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.rdm-level-maincntnt .list-box {
		float: left;
		margin-right: 15px;
		margin-bottom: 20px;
	}
	.work-prdcts .list-box .card {
		box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
		border: none;
		border-radius: 8px;
	}
	.work-prdcts .list-box .prdct-title {
		background-color: #02C4AC;
		padding: 15px 10px 35px;
		border-radius: 8px;
	}
	.work-prdcts .list-box .prdct-title h3 {
		text-transform: capitalize;
		font-size: 17px;
	}
	.work-prdcts .list-box .card-body {
		padding: 6px;
	}
	.work-prdcts .list-box .card-body h5 {
		font-size: 15px;
		text-transform: capitalize;
		font-weight: 400;
	}
	.work-prdcts .form-check {
		padding-left: 0;
		width: 30%;
		float: left;
	}
	.work-prdcts .form-check-input {
		position: inherit;
		margin-top: 0;
		margin-left: 0;
	}
	.work-prdcts .form-check-label {
		font-size: 13px;
	}
	.coverage .form-check {
		width: 22%;
		float: left;
		font-size: 15px;
	}
	.list-box .card-text p {
		border: 1px
	} 
	.work-prdcts .list-box .card-text textarea.form-control {
		resize: none;
		height: 55px;
		border: 1px solid #02C4AC;
		border-radius: 15px;
	}
	.work-prdcts .list-box .card-text textarea.form-control:focus {
		box-shadow: none;
	}
	.custom-control-label::before {
		position: absolute;
		top: 0.25rem;
		right: -1.5rem;
		left: 28px;
		display: block;
		width: 12px;
		height: 12px;
		pointer-events: none;
		content: "";
		background-color: #02C4AC;
		/*border: #adb5bd solid 1px;*/
	}
	.custom-control-label::after {
		position: absolute;
		top: 0.25rem;
		right: -1.5rem;
		left: 28px;
		display: block;
		width: 12px;
		height: 12px;
		content: "";
		background: no-repeat 50% / 50% 50%;
	}
	.custom-control-input:checked ~ .custom-control-label::before {
		color: transparent;
		border-color: transparent;
		background-color: #02C4AC;
	}
	.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
		background-image: none;
		background-color: #000;
		width: 8px;
		height: 8px;
		border-radius: 100%;
		top: 6px;
		left: 30px;
	}
	.gap-notes {
		width: 100%;
		float: left;
	}
	.gap-notes h5 {
		color: #02C4AC;
		text-transform: capitalize;
		font-size: 18px;
	}
	.gap-notes textarea.form-control {
		height: 65px;
		resize: none;
		box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
		border-radius: 0;
	}

/*rdm level 2.1 css end*/